@import "reset";
@import "grid";

/*
  Config
*/
$total_width: 100%;
$container_margin: 0%;
$gutter_width: 2%;
$max_width: 960px;
$padding_standar: 5%;
$color_yellow: #fff200;
$color_nearlyblack: #252525;
$color_nearlynearlyblack: #454545;
$color_body: #636363;
$color_headlines: #b7b7b7;

*{
  outline: none;
}

html{
  height: 100%;
}
a{
  &, &:link, &:visited{
    color: #9dbd54;
    text-decoration: none;
  }
  &:active{
    text-decoration: underline;
  }
}
body{
  background: #cccccc;
  min-height: 100%;
  padding-top: 50px;
  font-family: 'Open Sans';
}

.container{
  width: $total_width;
  max-width: $max_width;
  margin: 0 auto 50px auto;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}

header{
  @include clearfix();
  @include legacy-pie-clearfix();

  padding: $padding_standar;

  div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  }
  div.logo{
    float: left;
    margin-right: 5%;
    width: 25%;
    max-width: 180px;
  }

  div.content{
    float: left;
    width: 70%;
  }

  h1{
    padding-top: 20px;
    font-size: 40px;
    font-weight: 200;
    line-height: 40px;
    display: inline-block;
    span{
      display: block;
      text-align: right;
      font-style: italic;
      font-size: 20px;
    }
  }
  img{
    max-width: 100%;
  }
  .personalData{
    span{
      display: inline-block;
      line-height: 30px;
      margin-right: 30px;
      margin-bottom: 20px;
      font-size: 20px;
      text{
        font-size: 15px;
        display: block;
      }
      i.icon{
        width: 32px;
        height: 32px;
        vertical-align: middle;
        background: url("../images/icons.png") no-repeat top left;
        display: inline-block;

        &.email{
          background-position: 0px 0px;
          margin-right: 10px;
        }
        &.house{
          background-position: 0px -42px;
        }
        &.phone{
          background-position: 0px -84px;
        }
      }

      img{
        vertical-align: middle;
        margin: 0 10px 0 0;
      }
    }
  }
}

nav{
  width: $total_width;
  max-width: $max_width;
  display: none;
  background: #bbdb54; //rgba(226,226,226, 0.9);
  position: fixed;
  top: 0;
  margin: 0 auto;
  //padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 40px;
  /*img{
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
  }
  h2{
    font-weight: bold;
    float: left;
  }
  ul{
    float: right;
    li{
      display: inline-block;
      margin: 0 6px 0 0;
      &:last-child{
        margin-right: 0;
      }
      a{
        color: #fff;
        text-decoration: none;
        padding: 7px 10px;
        background: #000;
      }
    }
  }*/
  padding: 5px;
  .info{
    @include clearfix();
  }
  img{
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
  }
  h2{
    font-weight: bold;
  }
  ul{
    display: none;
    margin-top: 10px;
    padding: 0 10px 10px 10px;
    li{
      display: block;
      border-bottom: 1px solid #98b749;
      &:first-child{
        border-top: 1px solid #98b749;
      }
      a{
        color: #000 !important;
      }
    }
  }
}

section{
  @include clearfix();

  h2{
    background: #bbdb54;
    display: inline-block;
    padding: 1.5%;
    font-size: 25px;
    margin-bottom: $padding_standar;
  }
  article {
    padding: $padding_standar;
    padding-top: 0;
    padding-bottom: 3%;
    padding-right: 40%;
    line-height: 1.5em;
    h3{
      font-weight: bold;
      font-size: 20px;
      margin: 0 0 2% 0;
    }
    p{
      margin: 2% 0;
    }
    ul{
      margin-left: 30px;
      li{
        list-style: disc;
        margin: 1% 0;
      }
    }
    strong{
      font-weight: bold;
    }
  }
}

section.education{
  background: url("../images/education_bg.png") no-repeat right 50px;
}

@media screen and (min-width: 720px) {

}

@media all and (min-width: 960px) {

}