/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Profound Grid
 *
 * Built in Sass (SCSS) this responsive/adaptive grid supports both fixed and fluid layouts,
 * relative and fixed gutters, as well as your choice of semantic markup or generic '.grid-x' classes.
 *
 * The biggest difference to other grid systems is the use of negative margins for column
 * placements, avoiding the subpixel rounding issues that usually break/uglify fluid layouts
 * in some browsers.
 *
 * Nested columns are supported too, without having to reset the grid on each level.
 *
 * Credits/Inspiration:
 * -------------------
 * Semantic Grid: http://www.semantic.gs
 * Susy: http://susy.oddbird.net
 * Negative Grid: http://chrisplaneta.com/freebies/negativegrid-fluid-css-grid-by-chris-planeta/
 *
 * @author Profound Creative Studio
 * @url http://www.profoundgrid.com
 * @url http://www.weareprofound.com
 */
/**
 * Clearfix
 */
/**
 * Legacy Clearfix
 */
/**
 * Establish the grid-containing element.
 */
/**
 * Align an element to the grid.
 */
/**
 * Apply to any column to make it the last one of the current row.
 */
/*
  Config
*/
/* line 18, ../sass/main.scss */
* {
  outline: none;
}

/* line 22, ../sass/main.scss */
html {
  height: 100%;
}

/* line 26, ../sass/main.scss */
body {
  background: #cccccc;
  min-height: 100%;
  padding-top: 50px;
  font-family: 'Open Sans';
}

/* line 33, ../sass/main.scss */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}

/* line 41, ../sass/main.scss */
header {
  overflow: hidden;
  *zoom: 1;
  *zoom: 1;
  padding: 5%;
}
/* line 91, ../sass/_grid.scss */
header :after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 47, ../sass/main.scss */
header div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 53, ../sass/main.scss */
header div.logo {
  float: left;
  margin-right: 5%;
  width: 25%;
  max-width: 180px;
}
/* line 60, ../sass/main.scss */
header div.content {
  float: left;
  width: 70%;
}
/* line 65, ../sass/main.scss */
header h1 {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 200;
  line-height: 40px;
  display: inline-block;
}
/* line 71, ../sass/main.scss */
header h1 span {
  display: block;
  text-align: right;
  font-style: italic;
  font-size: 20px;
}
/* line 78, ../sass/main.scss */
header img {
  max-width: 100%;
}
/* line 82, ../sass/main.scss */
header .personalData span {
  display: inline-block;
  line-height: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}
/* line 88, ../sass/main.scss */
header .personalData span text {
  font-size: 15px;
  display: block;
}
/* line 92, ../sass/main.scss */
header .personalData span i {
  width: 30px;
  height: 30px;
  background: #000;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
}

/* line 104, ../sass/main.scss */
nav {
  width: 100%;
  max-width: 960px;
  display: none;
  background: #bbdb54;
  position: fixed;
  top: 0;
  margin: 0 auto;
  padding: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 40px;
}
/* line 117, ../sass/main.scss */
nav img {
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
}
/* line 123, ../sass/main.scss */
nav h2 {
  font-weight: bold;
  float: left;
}
/* line 127, ../sass/main.scss */
nav ul {
  float: right;
}
/* line 129, ../sass/main.scss */
nav ul li {
  display: inline-block;
}
/* line 131, ../sass/main.scss */
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  background: #000;
}

/* line 141, ../sass/main.scss */
section {
  overflow: hidden;
  *zoom: 1;
}
/* line 144, ../sass/main.scss */
section h2 {
  background: #bbdb54;
  display: inline-block;
  padding: 1.5%;
  font-size: 25px;
  margin-bottom: 5%;
}
/* line 151, ../sass/main.scss */
section article {
  padding: 5%;
  padding-top: 0;
  padding-bottom: 3%;
  padding-right: 40%;
  line-height: 1.5em;
}
/* line 157, ../sass/main.scss */
section article h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 2% 0;
}
/* line 162, ../sass/main.scss */
section article p {
  margin: 2% 0;
}
/* line 165, ../sass/main.scss */
section article ul {
  margin-left: 30px;
}
/* line 167, ../sass/main.scss */
section article ul li {
  list-style: disc;
  margin: 1% 0;
}
/* line 172, ../sass/main.scss */
section article strong {
  font-weight: bold;
}
