/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Profound Grid
 *
 * Built in Sass (SCSS) this responsive/adaptive grid supports both fixed and fluid layouts,
 * relative and fixed gutters, as well as your choice of semantic markup or generic '.grid-x' classes.
 *
 * The biggest difference to other grid systems is the use of negative margins for column
 * placements, avoiding the subpixel rounding issues that usually break/uglify fluid layouts
 * in some browsers.
 *
 * Nested columns are supported too, without having to reset the grid on each level.
 *
 * Credits/Inspiration:
 * -------------------
 * Semantic Grid: http://www.semantic.gs
 * Susy: http://susy.oddbird.net
 * Negative Grid: http://chrisplaneta.com/freebies/negativegrid-fluid-css-grid-by-chris-planeta/
 *
 * @author Profound Creative Studio
 * @url http://www.profoundgrid.com
 * @url http://www.weareprofound.com
 */
/**
 * Clearfix
 */
/**
 * Legacy Clearfix
 */
/**
 * Establish the grid-containing element.
 */
/**
 * Align an element to the grid.
 */
/**
 * Apply to any column to make it the last one of the current row.
 */
/*
  Config
*/
/* line 18, ../sass/main.scss */
* {
  outline: none;
}

/* line 22, ../sass/main.scss */
html {
  height: 100%;
}

/* line 26, ../sass/main.scss */
body {
  background: #cccccc;
  min-height: 100%;
  padding-top: 50px;
}

/* line 32, ../sass/main.scss */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}

/* line 40, ../sass/main.scss */
header {
  overflow: hidden;
  *zoom: 1;
  *zoom: 1;
  padding: 5%;
}
/* line 91, ../sass/_grid.scss */
header :after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 44, ../sass/main.scss */
header img {
  max-width: 100%;
}
/* line 47, ../sass/main.scss */
header .logo {
  width: 170px;
  height: 170px;
  border-radius: 170px;
  background: #bbdb54;
}

/* line 56, ../sass/main.scss */
article {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 80px;
}
/* line 62, ../sass/main.scss */
article h3 {
  width: 100%;
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 900;
  font-size: 38px;
  padding-top: 72px;
  padding-bottom: 55px;
  color: #b7b7b7;
}
/* line 73, ../sass/main.scss */
article h3.seperator {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 77, ../sass/main.scss */
article {
  width: 100%;
  margin: 0 0%;
  margin: 0 auto;
  margin-bottom: 2%;
  height: 80px;
}

/* line 84, ../sass/main.scss */
article div {
  height: 80px;
  background: #fff200;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  color: #454545;
  line-height: 80px;
}
